@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #f0efeb;
  color: #00509d;
  height: 100vh;
  display: grid;
  place-content: center;
}

.App-header {
  font-weight: bold;
  font-size: xx-large;
}
